@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Mukta:wght@200&family=Quicksand:wght@700&display=swap');

:root{
  --lightGray: rgba(128, 128, 128, 0.3);
  --darkGray: rgba(46, 46, 46, 0.5);
  --font-body: 'Mukta', sans-serif;;
  --font-heading: 'Quicksand', sans-serif;
  --font-logo: 'Fasthand', cursive;
  --primary: rgb(15, 126, 223);
  --darkPrimary: rgb(0, 83, 156);
  --delay-normal: 200ms;
  --default-radius: .5rem;
}



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-body);
}

html {
  font-size: 62.5%;
}

hr {
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 1px 0;
    margin: 0.5rem 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul {
    margin: 0;
    padding: 0;
  }


  /* anchor tag default styling removal */
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 1.9rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #afafaf;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #afafaf;
}